<app-header></app-header>
<div class="main_container">
    <div class="dialog_container">
        <p>Where do you want to travel,</p> <h2> {{ ' ' + username + ' '}}</h2>?
    </div>
    <div class="search_container">
        <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
            <div class="column">
                <div style="width: 60%;">
                    <mdb-form-control>
                        <input mdbValidate mdbInput type="text" id="form1" class="form-control" formControlName="destination" required/>
                        <label mdbLabel class="form-label" for="form1">Destination</label>
                        <mdb-error *ngIf="validationForm.get('destination')?.errors?.['required'] && validationForm.get('destination')?.touched">
                          Destination is required
                        </mdb-error>
                    </mdb-form-control>
                </div>
                <div style="width: 60%;">
                  <mdb-form-control>
                      <input mdbValidate mdbInput type="text" id="form2" class="form-control" formControlName="currentLocation" required/>
                      <label mdbLabel class="form-label" for="form2">Your Location</label>
                      <mdb-error *ngIf="validationForm.get('currentLocation')?.errors?.['required'] && validationForm.get('currentLocation')?.touched">
                        Current location is required
                      </mdb-error>
                  </mdb-form-control>
              </div>
                <div class="date_container">
                    <div>
                        <mdb-form-control>
                          <input mdbValidate mdbInput type="date" id="form3" class="form-control" formControlName="arrivalDate" required/>
                          <label mdbLabel class="form-label" for="form3">Leaving Date</label>
                          <mdb-error *ngIf="validationForm.get('arrivalDate')?.errors?.['required'] && validationForm.get('arrivalDate')?.touched">
                            Leaving date is required
                          </mdb-error>
                        </mdb-form-control>
                    </div>
                    <div>
                        <mdb-form-control>
                          <input mdbValidate mdbInput type="date" id="form4" class="form-control" formControlName="departureDate" required/>
                          <label mdbLabel class="form-label" for="form4">Returning Date</label>
                          <mdb-error *ngIf="validationForm.get('departureDate')?.errors?.['required'] && validationForm.get('departureDate')?.touched">
                            Returning date is required
                          </mdb-error>
                        </mdb-form-control>
                    </div>
                </div>
                <div>
                    <mdb-form-control>
                      <input mdbValidate mdbInput type="number" id="form5" class="form-control" formControlName="numberOfPeople" required/>
                      <label mdbLabel class="form-label" for="form5">Number of people</label>
                      <mdb-error *ngIf="validationForm.get('numberOfPeople')?.errors?.['required'] && validationForm.get('numberOfPeople')?.touched">
                        Number of people is required
                      </mdb-error>
                    </mdb-form-control>
                </div>
                <div>
                    <mdb-form-control>
                      <input mdbValidate mdbInput type="number" id="form6" class="form-control" formControlName="budget" required/>
                      <label mdbLabel class="form-label" for="form6">Your budget</label>
                      <mdb-error *ngIf="validationForm.get('budget')?.errors?.['required'] && validationForm.get('budget')?.touched">
                        Budget is required
                      </mdb-error>
                    </mdb-form-control>
                </div>
            </div>
            <div class="login_buttons">
              <button type="submit" class="btn btn-primary btn-lg" mdbRipple (click)="search()">
                <div style="display: flex; flex-direction: row; gap: 10px;">
                  <fa-icon [icon]="faPlane"></fa-icon>
                  Plan my trip!
                </div>  
              </button>
          </div>
        </form>
    </div>
</div>
