<app-header></app-header>
<div class="main_container">
    <div class="dialog_container">
        <p>Where do you want to travel,</p> <h2> {{ ' ' + username + ' '}}</h2>?
    </div>
    <div class="search_container">
        <div class="search_fields">
            <label>Where do you want to go?</label>
            <input class="text_fields">
            <label>When do you want to go?</label>
            <div class="date_sel">
                <p>from</p>
                <input type="date" class="text_fields">
                <p>to</p>
                <input type="date" class="text_fields">
            </div>
            <label>How many people?</label>
            <input class="text_fields">
            <label>What's your budget?</label>
            <input class="text_fields">
            <button (click)="navigateToResult()">Plan my trip!</button>
        </div>
    </div>
</div>