.main_container{
    width: 100%;
    height: 8%;

    display: block;

    background: #3c6cc4;
}

.logo_container{
    float: left;
    margin-left: 1rem;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: center;

    height: 100%;
    width: 10%;
}

.logo_container image{
    width: 25%;
    height: 100%;
}

.logo_container h3{
    font-size: larger;
    color: #F9F9F9;
    font-weight: 700;
}

.logo:hover{
    cursor: pointer;
}
.logo_text:hover{
    cursor: pointer;
}

.profile_container{
    float: right;
    margin-right: 1rem;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: right;
    color: #F9F9F9;

    height: 100%;
    width: 20%;
}