.main_container{
    width: 100%;
    height: 92%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.trip_info{
    border: solid 1px red;
    width: 60%;
    height: 40px;
}

.search_results{
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.result_column{
    width: 33%;
    height: 95%;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;

    border: solid 2px black;
}

.title{
    align-self: center;
    font-size: larger;
    font-weight: 800    ;
}

.top_offer_container{
    width: 90%;
    height: 50px;
    border: solid 2px black;
}