<app-header></app-header>
<div class="main_container">
    <div class="account_info_container">
        <p>Account information</p>
        <div class="account_fields">
            <label>First Name</label>
            <input class="text_fields">
            <label>Last Name</label>
            <input class="text_fields">
            <label>Email</label>
            <input class="text_fields">
            <label>Phone number</label>
            <input class="text_fields">
            <label>Date of birth</label>
            <input type="date" class="text_fields">
            <img alt="profile_picture">
            <button class="upload_btn">Upload</button>
        </div>
        <div class="button_container">
            <button class="button">Save Changes</button>
            <button class="sign_out_button" (click)="signOut()" >Sign Out</button>
        </div>
    </div>
</div>