<div class="main_container">
    <div class="container_wrapper">
        <div class="media_container small_containers">
            <app-image-slider [slides]="slides"></app-image-slider>
        </div>
        <div class="register_container small_containers">
            <div class="logo_container">
                <img class="logo" src='../assets/logo.png' alt="logo" (click)="navigateToLanding()">
                <h1>Travel anywhere, anytime!</h1>
            </div>
            <h1>Start traveling today!</h1>
            <div class="register_fields">
                <label>Email</label>
                <input class="text_fields" [(ngModel)]="email" required>
                <label *ngIf="!isValidEmail" class="error">Invalid email!</label>
                <label>First Name</label>
                <input class="text_fields" [(ngModel)]="username" required>
                <label>Last Name</label>
                <input class="text_fields">
                <label>Password</label>
                <input class="text_fields" type="password" [(ngModel)]="password" required>
                <label *ngIf="isShortPass" class="error">Password must be at least 8 characters!</label>
                <label>Phone number</label>
                <input class="text_fields">
                <label>Date of birth</label>
                <input type="date" class="text_fields">
                <select class="acc_type_selector" name="acc_type">
                    <option value="0">Select your role</option>
                    <option value="1">Traveler</option>
                    <option value="2">Vendor</option>
                </select>
            </div>
            <div class="register_buttons">
                <button class="button" (click)="register()">
                    <fa-icon [icon]="faUserPlus"></fa-icon>
                    Register
                </button>
                <button class="button login_button" (click)="navigateToLogin()">
                    <fa-icon [icon]="faRightToBracket"></fa-icon>
                    <p>Go to Login</p>
                </button>
            </div>
        </div>
    </div>
</div>